body {
  background-color: #304158;
}
.banner {
  height: 140px;
  left: 15px;
}
.Support_Server {
  position: relative;
  left: 60px;
  color: #fff;
}
.Add_Server {
  position: relative;
  left: 30px;
  color: #fff;
}
/*.Commands {
  position: relative;
  height: 10px;
  top: -20px;
  left: 40px;*/
}
.info_1 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_2 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_3 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_3 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_4 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_5 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_6 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.info_7 {
  color: #fff;
  position: relative;
  background: #22334b;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.img_channel {
  height: 130px;
}
.img_help {
  position: relative;
  height: 200px;
  left: 30px;
}
.img_info {
  position: relative;
  height: 200px;
  left: 30px;
}
.img_mcserver {
  position: relative;
  height: 140px;
  left: 5px;
}
.img_invite {
  position: relative;
  height: 140px;
  left: 5px;
}
.img_updates {
  position: relative;
  height: 200px;
  left: 1px;
}
.title {
  position: relative;
  left: 80px;
  top: -10px
}
.info_breve {
  position: relative;
  padding: 20px;
  left: 15px;
}